body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0;
    color: #424242;
}

main {
    margin: 0 auto;
    width: 800px;
}

.masthead {
    background-image: url('FreeVector-Vintage-Mac.jpg');
    background-size: cover;
    background-position: bottom;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.details {
    display: flex;
    gap: 25px;
}

.details section {
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    padding: 25px;
    border-radius: 20px;
    margin-top: 25px;
}

.details section.with-code {
    padding: 0;
}

div.code-container {
    padding: 25px;
    background: #424242;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

img {
    width: 100%;
}

h1 {
    background-image: url('images/h-logo.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    padding-left: 50px; /* Adjust this value to space out the text from the logo */
    font-size: 3em;
    margin: 20px 0 20px 0; /* Adjust this value to control spacing */
    display: inline-block;
    vertical-align: middle;
}

h2 {
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 1.4em;
}

pre, code {
    font-family: 'Courier New', Courier, monospace;
}
